@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.list {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  padding: 0 15px;
}
.header .container {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    padding: 0;
    margin: 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
    margin: 0px 15px;
  }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.visuallt-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --text-font: "Roboto", sans-serif;
  --text-logo: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --text-color: #757575;
  --title-color: #212121;
}

.header {
  border-bottom: 1px solid #ececec;
}

.navigation-list-mailtel {
  display: none;
}

.navigation {
  padding-top: 16px;
  height: 60px;
}

.logo {
  font-family: var(--text-logo);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo-name {
  font-family: var(--text-logo);
  font-size: 24px;
  font-weight: bold;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }

  .burger-btn,
.mobile-close-button {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .burger-btn:focus,
.mobile-close-button:focus {
    fill: var(--accent-color);
  }

  .burger-icon,
.mobile-icon-close {
    width: 40px;
    height: 40px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link {
    text-decoration: none;
  }

  .mobile-menu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    z-index: 1;
    width: 100%;
    max-width: 480px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    background-color: white;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    transform: translateX(-50%) translateY(0%);
  }

  .mobile-close-button {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .mobal-menu-nav-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobal-menu-nav-link:hover {
    color: var(--accent-color);
  }

  .mobal-menu-nav-item:not(:last-child) {
    padding-bottom: 32px;
  }

  .navigation-list-item:not(:last-child) {
    margin-top: 302px;
    margin-bottom: 32px;
  }

  .mail-link {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: #757575;
  }

  .tel-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196f3;
  }

  .social-list-link-mobal {
    display: flex;
    flex-wrap: wrap;
    padding-top: 64px;
    position: relative;
  }

  .link-mobal {
    margin-right: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196f3;
  }

  .line-mobal::after {
    content: "";
    width: 22px;
    height: 0px;
    left: 35px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .mobile-close-button {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .header {
    border-bottom: 1px solid #ececec;
  }

  .navigation {
    display: flex;
    align-items: center;
    padding-top: 0px;
    height: 80px;
  }

  .navigation-list {
    display: flex;
    margin-left: auto;
  }

  body {
    font-family: "Roboto", sans-serif;
    color: #757575;
  }

  .logo {
    font-family: var(--text-logo);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.167;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--accent-color);
    margin-right: 88px;
  }

  .logo-name {
    font-family: var(--text-logo);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: var(--title-color);
  }

  .navigation-list-item {
    position: relative;
    display: block;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }

  .line::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    bottom: -32px;
  }

  .navigation-list-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list-link:hover, .navigation-list-link:focus {
    color: var(--accent-color);
  }

  .tel-link-icon {
    width: 10px;
    height: 14px;
    margin-right: 10px;
    fill: currentColor;
  }

  .mail-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 1px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail-link:hover, .mail-link:focus {
    color: var(--accent-color);
  }

  .mail-link-icon {
    margin-right: 10px;
    width: 14px;
    height: 10px;
    fill: currentColor;
  }

  .tel-link {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-link:hover, .tel-link:focus {
    color: var(--accent-color);
  }

  .navigation-list-mailtel {
    display: block;
  }
}
.button.is-open {
  transform: translateX(-50%) translateY(0%);
}

.container-hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
}

.hero {
  text-align: center;
  background-color: #757575;
  background-image: url("../images/hero/img-mobal-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/img-mobal-hero@2x.jpg");
  }
}
.container-hero {
  height: 400px;
  padding-bottom: 0px;
}

.hero-title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.708;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  padding: 10px 32px;
  border: 0;
  min-width: 200px;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background: var(--accent-color);
  border-radius: 4px;
  text-align: center;
  margin-top: 30px;
}

.container-hero {
  padding-left: 15px;
  padding-right: 15px;
}

.hero-title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.615зx;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  padding: 10px 32px;
  border: 0;
  min-width: 200px;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background: var(--accent-color);
  border-radius: 4px;
  text-align: center;
  margin-top: 30px;
}

.features {
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

.container-features {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.features-icon {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  padding: 25px 102px 25px 102px;
}

.container-features {
  padding: 0;
}

.features-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-top: 30px;
}

.features-title-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-color);
  color: #757575;
}

.features-list-title {
  margin-bottom: 30px;
  margin-left: 0px;
}
.features-list-title:last-child {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .features {
    padding-left: 15px;
    padding-right: 15px;
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }

  .features-icon {
    width: 354px;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
    padding: 25px 102px 25px 102px;
  }
  .features-icon:nth-child(even) {
    margin-top: 190px;
  }

  .features-list-title {
    flex-basis: calc((100% - 30px) / 2);
    margin-right: 15px;
  }
  .features-list-title:nth-child(n+3) {
    margin-bottom: 60px;
  }

  .features-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143;
    text-align: start;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-top: 30px;
  }

  .features-title-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    width: 270px;
    height: 75px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-top: 10px;
  }
}
.occupation {
  padding-left: 15px;
  padding-right: 15px;
}

.container-occupation {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.occupation-list {
  display: flex;
}

.occupation-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.occupation-list-img {
  margin-top: 50px;
  margin-bottom: 94px;
}
.occupation-list-img:not(:last-child) {
  margin-right: 30px;
}

.pop {
  position: relative;
}

.text-position {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding: 27px 82px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0px;
  height: 70px;
  width: 100%;
}

.container-team {
  margin-top: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
  padding-left: -15px;
  padding-right: -15px;
}

.team {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f5f4fa;
}

.team-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  padding-bottom: 30px;
}

.team-list-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.188;
  letter-spacing: 0.03em;
  padding-top: 30px;
  text-align: center;
  color: var(--title-color);
}

.team-list-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.188;
  padding-top: 10px;
  padding-bottom: 16px;
  margin: 0;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: center;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.social-list-link:hover .social-list-icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover .social-list-icon:not(:last-child) {
  margin: 10px;
}

.social-list {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.social-list-link:hover {
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}
.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-img {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-img:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f5f4fa;
  }

  .container-team {
    padding-top: 60px;
    padding-bottom: 30px;
    margin-top: 0;
    background-color: #f5f4fa;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }

  .team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    padding-bottom: 30px;
  }

  .team-list-img {
    text-align: center;
    background: #ffffff;
    margin-bottom: 94px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .team-list-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.188;
    letter-spacing: 0.03em;
    padding-top: 30px;
    text-align: center;
    color: var(--title-color);
  }

  .team-list-position {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 16px;
  }

  .social-list-icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
  }
  .social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
    fill: #ffffff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 32px;
    margin-right: 32px;
    padding-bottom: 0;
  }

  .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
  }
  .social-list-link:hover, .social-list-link:focus {
    background-color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-list-icon-footer {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
}
.clients-regular {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.179;
  padding-top: 60px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  color: var(--title-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 15px 30px 15px;
  margin-right: -15px;
}

.clients-list-client {
  margin-right: 15px;
}

.clients-list-client:nth-child(even) {
  margin-left: 15px;
  margin-bottom: 30px;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 210px;
  height: 90px;
}
.clients-list-link:hover, .clients-list-link:focus {
  background-color: #ffffff;
  border-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-icon {
  fill: #afb1b8;
}
.clients-list-link:hover .clients-list-icon, .clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
  background-color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .container-clients {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
  }

  .clients-list {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px 30px 0px;
    margin-right: -15px;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .clients-list-client:nth-child(even) {
    margin-left: 0px;
    margin-bottom: 30px;
  }

  .clients-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 206px;
    height: 90px;
  }
  .clients-list-link:hover, .clients-list-link:focus {
    background-color: #ffffff;
    border-color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .clients-list-icon {
    fill: #afb1b8;
  }
  .clients-list-link:hover .clients-list-icon, .clients-list-link:focus .clients-list-icon {
    fill: var(--accent-color);
    background-color: #ffffff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.footer-page {
  padding-left: 0;
  padding-right: 0;
}

.container-footer {
  width: 100vw;
  text-align: center;
  background: #2f303a;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer .logo-name-footer {
  font-family: var(--text-logo);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #fff;
}

.container-footer-p {
  padding-top: 60px;
  padding-bottom: 20px;
  margin: 0;
}

.address-link-map {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link-map:hover, .address-link-map:focus {
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link-mail {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}
.address-link-mail:hover, .address-link-mail:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link-tel {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
}
.address-link-tel:hover, .address-link-tel:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-right-side {
  padding-top: 60px;
}

.text-join {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.143;
  margin: 0;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-list-footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-icon-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.social-list-link-side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.social-list-link-side:hover, .social-list-link-side:focus {
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mailing {
  width: 100%;
}

.footer-mailing-text {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 20px;
}

.contact-form-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}
.contact-form-input::placeholder {
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.form-buttom {
  display: inline;
}

.contact-form-btn {
  position: relative;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 12px;
  padding: 10px 62px 10px 19px;
  background: #2196f3;
  border: 0;
  border-radius: 4px;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.telegram-icon {
  position: absolute;
  margin-left: 10px;
}

.container-cards {
  width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
  padding-right: 0;
}

.card-set {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card-thumb {
  outline: none;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  margin: 0px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  color: #ffffff;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-links:hover .overlay,
.cards-links:focus .overlay {
  transform: translateY(0);
}

.item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-top: 40px;
  margin-bottom: 60px;
}

.item:focus-within {
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.cards-links {
  text-decoration: none;
}

.item:focus-within {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.card:focus,
.card:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*==text==*/
.card-heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px;
}

.card-content {
  padding: 20px 24px 20px 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-close-btm {
  position: absolute;
  cursor: pointer;
  background: transparent;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  top: 8px;
  right: 8px;
  padding: 0;
  padding-top: 3px;
}
.modal-close-btm:hover {
  fill: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form-heading {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 12px;
}

.modal-form-input-lable {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.167;
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 10px;
  margin-top: 4px;
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.167;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
  margin-top: 4px;
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-message:focus::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-policy:checked + .modal-form-lable-text-policy::before {
  background-image: url("../images/check.svg");
  border-color: transparent;
}

.modal-form-check-policy:focus + .modal-form-lable-text-policy::before {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-lable-text-policy {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.modal-form-lable-text-policy::before {
  display: inline-block;
  content: "";
  width: 18px;
  height: 17px;
  border: 2px solid #212101;
  margin-right: 8px;
  border-radius: 2px;
  margin-top: 0px;
  margin-left: 14px;
}

.modal-form-lable-text-link {
  margin-left: 6px;
}

.modal-form-btm {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.875;
  min-width: 200px;
  padding: 10px 55px 10px 55px;
  background: #2196f3;
  border: 0;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  margin-top: 30px;
  align-self: center;
}

.buttons {
  margin-top: 60px;
}

.container-buttons {
  padding-left: 15px;
  padding-right: 15px;
}

.buttons-list {
  display: flex;
  flex-wrap: wrap;
  height: 54px;
  margin-bottom: 34px;
}

.button-second-page {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  height: 38px;
  padding: 6px 12px;
  border: 0;
  letter-spacing: 0.03em;
  margin-right: 8px;
  margin-bottom: 21px;
  color: #212121;
  border-radius: 4px;
  text-align: center;
  background-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-second-page:hover, .button-second-page:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all {
  width: 72px;
}

.website {
  width: 128px;
}

.app {
  width: 145px;
}

.design {
  width: 103px;
}

.marketing {
  width: 130px;
}

.filter-list:not(:last-child) {
  margin-right: 8px;
}/*# sourceMappingURL=main.css.map */