.container-cards {
  width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
  padding-right: 0;
}

.card-set {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

// .card-set > .item {
//   flex-basis: calc(100% / 3 -15px);
//   margin-left: 15px;
//   margin-right: 15px;
//   margin-bottom: 30px;
// }

.card-thumb {
  outline: none;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  margin: 0px;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  color: #ffffff;
  padding: 63px 24px;
  overflow: auto;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-links:hover .overlay,
.cards-links:focus .overlay {
  transform: translateY(0);
}

.item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-top: 40px;
}

.item:focus-within {
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.cards-links {
  text-decoration: none;
}

.item:focus-within {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.card:focus,
.card:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*==text==*/
.card-heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px;
}

.card-content {
  padding: 20px 24px 20px 24px;
}

// .container-cards {
//   width: 1230px;
//   padding-left: 30px;
//   padding-right: 0;
//   margin-left: auto;
//   margin-right: auto;
// }

// .card-set {
//   padding: 0;
//   margin: 0;
//   display: flex;
//   flex-wrap: wrap;
//   margin-top: -15px;
//   margin-left: -15px;
// }

// .card-set > .item {
//   flex-basis: calc(100% / 3 -15px);
//   margin-left: 15px;
//   margin-right: 15px;
//   margin-bottom: 30px;
// }

// .card-thumb {
//   outline: none;
//   position: relative;
//   overflow: hidden;
// }

// .overlay {
//   position: absolute;
//   font-family: Roboto;
//   font-size: 18px;
//   line-height: 1.55;
//   letter-spacing: 0.03em;
//   margin: 0px;

//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background-color: var(--accent-color);
//   color: #ffffff;
//   padding: 63px 24px;
//   overflow: auto;

//   transform: translateY(100%);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .cards-links:hover .overlay,
// .cards-links:focus .overlay {
//   transform: translateY(0);
// }

// .item {
//   background: #ffffff;
//   border: 1px solid #eeeeee;
// }

// .item:focus-within {
//   background: #ffffff;
//   border: 1px solid #eeeeee;
// }

// .cards-links {
//   text-decoration: none;
// }

// .item:focus-within {
//   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//     0px 2px 2px rgba(0, 0, 0, 0.12);
//   border-radius: 4px;
// }

// .card:focus,
// .card:hover {
//   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//     0px 2px 2px rgba(0, 0, 0, 0.12);
// }
// /*==text==*/
// .card-heading {
//   font-weight: bold;
//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;
//   color: #212121;
// }

// .card-text {
//   font-weight: normal;
//   font-size: 16px;
//   line-height: 1.875;
//   letter-spacing: 0.03em;
//   color: #757575;
//   margin: 0px;
// }

// .card-content {
//   padding: 20px 24px 20px 24px;
// }
