.header {
  border-bottom: 1px solid #ececec;
}

.navigation-list-mailtel {
  display: none;
}

.navigation {
  padding-top: 16px;
  height: 60px;
}

.logo {
  font-family: var(--text-logo);
  @include font($fs: 26px, $fw: 700, $lh: 31px);
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo-name {
  font-family: var(--text-logo);
  @include font($fs: 24px, $fw: bold, $lh: 28px);
  letter-spacing: 0.03em;
  color: var(--title-color);
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }

  .burger-btn,
  .mobile-close-button {
    background-color: transparent;
    border: none;
    padding: 0;

    &:focus {
      fill: var(--accent-color);
    }
  }

  .burger-icon,
  .mobile-icon-close {
    width: 40px;
    height: 40px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link {
    text-decoration: none;
  }

  .mobile-menu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    z-index: 1;
    width: 100%;

    // max-width: 320px;
    max-width: 480px;
    // height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    background-color: rgb(255, 255, 255);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    // border: 1px solid red;
  }

  .mobile-menu.is-open {
    transform: translateX(-50%) translateY(0%);
  }

  .mobile-close-button {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .mobal-menu-nav-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: var(--accent-color);
    }
  }

  .mobal-menu-nav-item:not(:last-child) {
    padding-bottom: 32px;
  }

  .navigation-list-item:not(:last-child) {
    margin-top: 302px;
    margin-bottom: 32px;
  }

  .mail-link {
    @include font($fs: 24px, $fw: 500, $lh: 28px);
    letter-spacing: 0.02em;
    color: #757575;
  }

  .tel-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196f3;
  }

  .social-list-link-mobal {
    display: flex;
    flex-wrap: wrap;
    padding-top: 64px;
    position: relative;
  }

  .link-mobal {
    margin-right: 10px;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 0.02em;

    color: #2196f3;
  }

  .line-mobal {
    &::after {
      content: "";

      width: 22px;
      height: 0px;
      left: 35px;

      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
    }
  }
}

//tablet header//

//HEADER//

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .mobile-close-button {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .header {
    border-bottom: 1px solid #ececec;
  }

  .navigation {
    display: flex;
    align-items: center;
    padding-top: 0px;

    height: 80px;
  }

  .navigation-list {
    display: flex;
    margin-left: auto;
  }

  body {
    font-family: "Roboto", sans-serif;
    color: #757575;
  }

  .logo {
    font-family: var(--text-logo);
    @include font($fs: 24px, $fw: 700, $lh: 28px);

    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--accent-color);
    margin-right: 88px;
  }

  .logo-name {
    font-family: var(--text-logo);
    @include font($fs: 24px, $fw: 700, $lh: 28px);

    letter-spacing: 0.03em;
    color: var(--title-color);
  }

  .navigation-list-item {
    position: relative;
    display: block;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .line {
    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      background: var(--accent-color);
      border-radius: 2px;

      bottom: -32px;
    }
  }

  .navigation-list-link {
    @include font($fs: 14px, $fw: 500, $lh: 16px);

    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-color);
    // padding: 32px 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .tel-link-icon {
    width: 10px;
    height: 14px;
    margin-right: 10px;
    fill: currentColor;
  }

  .mail-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 12px;

    @include font($fs: 14px, $fw: 500, $lh: 16px);

    letter-spacing: 0.02em;
    color: var(--text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .mail-link-icon {
    margin-right: 10px;
    width: 14px;
    height: 10px;
    fill: currentColor;
  }

  .tel-link {
    display: flex;
    @include font($fs: 14px, $fw: 500, $lh: 16px);

    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .navigation-list-mailtel {
    display: block;
  }
}

//////////////////////////////////////////////////

//.header {
//  border-bottom: 1px solid #ececec;
//}

//.navigation {
//  display: flex;
// align-items: center;
//}

//.navigation-list {
//  display: flex;
//  margin-left: auto;
//}

//body {
// font-family: "Roboto", sans-serif;
//  color: #757575;
//}

//.logo {
//  font-family: var(--text-logo);
// @include font($fs: 26px, $fw: 700, $lh: 31px);

// letter-spacing: 0.03em;
// text-decoration: none;
// color: var(--accent-color);
// margin-right: 93px;
//}

//.logo-name {

// font-family: var(--text-logo);
// @include font($fs: 26px, $fw: 700, $lh: 31px);

// letter-spacing: 0.03em;
// color: var(--title-color);
//}

//.navigation-list-item {
//  position: relative;
//  display: block;

//  &:not(:last-child) {
//   margin-right: 50px;
//  }
//}

//.line {
// &::after {
//   display: block;
//   position: absolute;
//   content: "";
//   width: 100%;
//   height: 4px;
//   background: var(--accent-color);
//  border-radius: 2px;

//   bottom: -32px;
// }
//}
//.tel-link-icon {
//  width: 10px;
//  height: 16px;
//  margin-right: 10px;
//  fill: currentColor;
//}

//.mail-link {
// display: flex;
// align-items: center;
// text-decoration: none;

// @include font($fs: 14px, $fw: 500, $lh: 16px);

//  letter-spacing: 0.02em;
// color: var(--text-color);

// transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//  &:hover,
// &:focus {
//  color: var(--accent-color);
//}
//}

//.mail-link-icon {
//  margin-right: 10px;
// width: 16px;
// height: 12px;
//  fill: currentColor;
//}

//.navigation-list-link {
//  @include font($fs: 14px, $fw: 500, $lh: 16px);

//  letter-spacing: 0.02em;
//  text-decoration: none;
//  color: var(--title-color);
//  padding: 32px 0px;
//  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//  &:hover,
//  &:focus {
//    color: var(--accent-color);
//  }
//}

//.tel-link {
// @include font($fs: 14px, $fw: 500, $lh: 16px);

// letter-spacing: 0.02em;
//  text-decoration: none;
// color: var(--text-color);

// transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

// &:hover,
// &:focus {
//   color: var(--accent-color);
// }
//}
