.buttons {
  margin-top: 60px;
}
.container-buttons {
  height: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

.buttons-list {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  height: 54px;
  margin-bottom: 34px;
}
.button-second-page {
  @include font($fs: 16px, $fw: 500, $lh: 28px);

  height: 38px;
  padding: 6px 12px;
  border: 0;

  letter-spacing: 0.03em;
  margin-right: 8px;
  margin-bottom: 21px;
  color: #212121;
  border-radius: 4px;
  text-align: center;
  background-color: #f5f4fa;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.all {
  width: 72px;
}

.website {
  width: 128px;
}

.app {
  width: 145px;
}

.design {
  width: 103px;
}

.marketing {
  width: 130px;
}

.filter-list:not(:last-child) {
  margin-right: 8px;
}

//trablet//

@media screen and (min-width: 768px) {
  .container-buttons {
    height: 38px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .buttons-list {
    display: flex;
    justify-content: center;
    height: 54px;
    margin-bottom: 34px;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  .button-second-page {
    margin-bottom: 0px;
  }
}

//desktop//

@media screen and (min-width: 1200px) {
  .buttons {
    margin-top: 94px;
    margin-bottom: 50px;
  }
  .buttons-list {
    display: flex;
    justify-content: center;
    height: 38px;
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
////////
//.buttons {
//  margin-top: 94px;
//  margin-bottom: 94px;
//}

//.container-buttons {
//  width: 1200px;
//  margin: 0 auto;
//  padding-left: 15px;
//  padding-right: 15px;
//}

//.buttons-list {
// display: flex;
//  justify-content: center;
// height: 54px;
// margin-bottom: 34px;
//  &:not(:last-child) {
//    margin-right: 8px;
// }
//}

//.button-second-page {
//  @include font($fs: 16px, $fw: 500, $lh: 28px);

//  height: 38px;
//  padding: 6px 12px;
//  border: 0;

//  letter-spacing: 0.03em;
//  cursor: pointer;
//  color: #212121;
// border-radius: 4px;
// text-align: center;
// background-color: #f5f4fa;

// transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

// &:hover,
// &:focus {
//   background-color: var(--accent-color);
//   color: #ffffff;
//  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//    0px 2px 2px rgba(0, 0, 0, 0.12);
//  border-radius: 4px;

// transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
//}

//.all {
//  width: 72px;
//}

//.website {
// width: 128px;
//}

//.app {
//  width: 145px;
//}

//.design {
// width: 103px;
//}

//.marketing {
//  width: 130px;
//}

//.filter-list:not(:last-child) {
//margin-right: 8px;
//}
